@import "../../../styles/vars.scss";

.basket {


    &__position,
    &__numbers,
    &__price,
    &__action {
        font-size: 13px;
        line-height: calc(17 / 13 * 100%);
        color: #acacbe;

        @media (max-width: 900px) {
            display: none;
        }
    }

    &__name {
        font-weight: 800;
        font-size: 26px;
        line-height: 100%;
        color: $black;
        margin-right: 14px;
    }

    &__position {
        flex: 0 0 400px;
    }

    &__numbers {
        flex: 0 0 217px;
    }

    &__price {
        flex: 0 0 138px;
    }

    &__action {
        flex: 0 0 133px;
    }

    &__box {
        height: 400px;
        overflow-y: auto;
    }
}

//================ basket-item ============

.basket--active {
    display: flex;
}

.null-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
}
