@import "../../styles/vars.scss";

.basket {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 51;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(17.243px);

    &__body {
        width: 1060px;
        height: 588px;
        background-color: $white;
        border-radius: 10px;
        padding: 32px 16px 24px 32px;
        display: flex;
        flex-direction: column;

        @media (max-width: $tabletBig) {
            width: 90%;
        }

        @media (max-width: $mobile) {
            padding: 16px;
        }
    }

    &__top {
        display: flex;
        align-items: flex-end;
        padding-bottom: 13px;
        border-bottom: 1px solid #dadae8;
        @media (max-width: 900px) {
            border: 0;
            display: block;
            text-align: center;
        }
    }

    &__position,
    &__numbers,
    &__price,
    &__action {
        font-size: 13px;
        line-height: calc(17 / 13 * 100%);
        color: #acacbe;

        @media (max-width: 900px) {
            display: none;
        }
    }

    &__name {
        font-weight: 800;
        font-size: 26px;
        line-height: 100%;
        color: $black;
        margin-right: 14px;
    }

    &__position {
        flex: 0 0 39.6%;
    }

    &__numbers {
        flex: 0 0 calc(217 / 1012 * 100%);
    }

    &__price {
        flex: 0 0 calc(138 / 1012 * 100%);
    }

    &__action {
        flex: 0 0 calc(133 / 1012 * 100%);
    }

    &__box {
        height: 400px;
        overflow-y: auto;
    }
}

//================ basket-item ============

.basket-item {
    display: flex;
    padding: 15px 0 17px;
    align-items: center;
    border-bottom: 1px solid #dadae8;
    overflow: hidden;

    @media (max-width: 900px) {
        justify-content: space-around;
    }

    @media (max-width: $mobile) {
        flex-wrap: wrap;
        border: 0;
        justify-content: space-between;
    }

    &__img {
        display: block;
        flex: 0 0 calc(100 / 1012 * 100%);
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        margin-right: 24px;

        @media (max-width: 900px) {
            display: none;
        }
    }

    &__position {
        flex: 0 0 calc(400 / 1012 * 100%);

        @media (max-width: $mobile) {
            position: relative;
            order: 1;
            flex: 0 0 calc(256 / 343 * 100%);
            padding: 0 0 10px;
            margin: 0 0 15px;
            border-bottom: 1px solid #dadae8;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: -1px;
                left: 100%;
                background-color: #dadae8;
            }
        }

        p {
            max-width: 289px;

            @media (max-width: 900px) {
                max-width: 180px;
            }
            @media (max-width: $mobile) {
                max-width: 240px;
            }

            &:nth-child(1) {
                font-weight: 600;
                font-size: 17px;
                line-height: 100%;
                color: $black;
                margin: 0 0 8px;
            }

            &:nth-child(2) {
                font-size: 15px;
                line-height: calc(20 / 15 * 100%);
                letter-spacing: 0.12px;
            }
        }
    }

    &__numbers {
        flex: 0 0 calc(217 / 1012 * 100%);

        @media (max-width: $mobile) {
            order: 4;
            flex: 0 0 calc(103 / 343 * 100%);
        }
    }

    .number-itemBasket {
        background-color: #f1f1f9;
        height: 34px;
        width: 110px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        button {
            display: inline-block;
            background-color: #f1f1f9;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            font-size: 24px;
            line-height: 100%;
            color: $black;
        }
        span {
            background-color: #f1f1f9;
            font-weight: 700;
            font-size: 17px;
            line-height: calc(22 / 17 * 100%);
            color: $black;
            margin: 0 16px;
        }
    }

    &__price {
        flex: 0 0 calc(138 / 1012 * 100%);
        font-size: 13px;
        line-height: calc(17 / 13 * 100%);
        color: $black;
        letter-spacing: 0.12px;

        @media (max-width: $mobile) {
            order: 3;
            flex: 0 0 calc(100 / 343 * 100%);
        }

        span {
            font-weight: 700;
            font-size: 17px;
        }
    }

    &__action {
        @media (max-width: $mobile) {
            order: 2;
        }
        img {
            cursor: pointer;
        }
    }
}

.basket--active {
    display: flex;
}

.basket-bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    align-items: center;

    &__left {
        font-size: 18px;
        line-height: calc(24 / 18 * 100%);
        color: $black;
        letter-spacing: 0.12px;
        span {
            font-weight: 700;
        }

        @media (max-width: 1000px) {
            display: none;
        }
    }

    &__right {
        display: flex;
        @media (max-width: 1000px) {
            flex: 0 0 100%;
            justify-content: space-between;
        }
    }

    &__position {
        font-size: 17px;
        line-height: 100%;
        color: $black;
        margin-right: 68px;

        @media (max-width: $mobile) {
            margin-right: 10px;
        }
        p {
            &:nth-child(1) {
                margin-bottom: 4px;
            }

            span {
                font-weight: 700;
            }
        }
    }

    &__btn {
        display: inline-block;
        padding: 12px 54px;
        font-size: 15px;
        line-height: calc(18 / 15 * 100%);
        text-transform: uppercase;
        letter-spacing: 0.6px;

        @media (max-width: $mobile) {
            padding: 10px 14px;
        }
    }
}

.null-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
}
