@import "../../styles/vars.scss";

.basket {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 51;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(17.243px);

    &__body {
        width: 1060px;
        height: 588px;
        background-color: $white;
        border-radius: 10px;
        padding: 32px 16px 24px 32px;
        display: flex;
        flex-direction: column;
    }

    &__top {
        display: flex;
        align-items: flex-end;
        padding-bottom: 13px;
        border-bottom: 1px solid #dadae8;
    }

    &__position,
    &__numbers,
    &__price,
    &__action {
        font-size: 13px;
        line-height: calc(17 / 13 * 100%);
        color: #acacbe;
    }

    &__name {
        font-weight: 800;
        font-size: 26px;
        line-height: 100%;
        color: $black;
        margin-right: 14px;
    }

    &__position {
        flex: 0 0 400px;
    }

    &__numbers {
        flex: 0 0 217px;
    }

    &__price {
        flex: 0 0 138px;
    }

    &__action {
        flex: 0 0 133px;
    }

    &__box {
        height: 400px;
        overflow-y: auto;
    }
}

//================ basket-item ============

.basket-item {
    display: flex;
    padding: 15px 0 17px;
    align-items: center;
    border-bottom: 1px solid #dadae8;

    &__img {
        display: block;
        flex: 0 0 100px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        margin-right: 24px;
    }

    &__position {
        flex: 0 0 400px;

        p {
            max-width: 289px;
            &:nth-child(1) {
                font-weight: 600;
                font-size: 17px;
                line-height: 100%;
                color: $black;
                margin: 0 0 8px;
            }

            &:nth-child(2) {
                font-size: 15px;
                line-height: calc(20 / 15 * 100%);
                letter-spacing: 0.12px;
            }
        }
    }

    &__numbers {
        flex: 0 0 217px;
    }

    .number-itemBasket {
        background-color: #f1f1f9;
        height: 34px;
        width: 110px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        button {
            display: inline-block;
            background-color: #f1f1f9;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            font-size: 24px;
            line-height: 100%;
            color: $black;
        }
        span {
            background-color: #f1f1f9;
            font-weight: 700;
            font-size: 17px;
            line-height: calc(22 / 17 * 100%);
            color: $black;
            margin: 0 16px;
        }
    }

    &__price {
        flex: 0 0 138px;
        font-size: 13px;
        line-height: calc(17 / 13 * 100%);
        color: $black;
        letter-spacing: 0.12px;

        span {
            font-weight: 700;
            font-size: 17px;
        }
    }

    &__action {
        img {
            cursor: pointer;
        }
    }
}

.basket--active {
    display: flex;
}

.basket-bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    align-items: center;

    &__left {
        font-size: 18px;
        line-height: calc(24 / 18 * 100%);
        color: $black;
        letter-spacing: 0.12px;
        span {
            font-weight: 700;
        }
    }

    &__right {
        display: flex;
    }

    &__position {
        font-size: 17px;
        line-height: 100%;
        color: $black;
        margin-right: 68px;
        p {
            &:nth-child(1) {
                margin-bottom: 4px;
            }

            span {
                font-weight: 700;
            }
        }
    }

    &__btn {
        display: inline-block;
        padding: 12px 54px;
        font-size: 15px;
        line-height: calc(18 / 15 * 100%);
        text-transform: uppercase;
    }
}

.null-basket{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
}