@import "../../styles/vars.scss";
@import "../../styles/global.scss";

.promotion {
    background-color: $white;
    padding: 85px 0 62px;
}



.promotion-item {
    display: flex;
    padding: 0 10px 0 0;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 190px;
    background-image: url("../../images/promotion/bg-cart.png");
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 13.1034px 52.4138px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    @media (max-width: $mobile) {
        height: 145px;
    }

    &__content {
        margin-left: 38px;
        max-width: 167px;
        @media (max-width: $mobile) {
            margin-left: 17px;
        }
    }

    &__name {
        font-weight: 900;
        font-size: 19px;
        line-height: calc(23 / 19 * 100%);
        margin: 0 0 3px;
        @media (max-width: $mobile) {
            font-size: 15px;
            letter-spacing: 0.12px;
        }
    }

    &__img {
        position: relative;
        width: 133px;
        height: 190px;
        @media (max-width: $mobile) {
            width: 100px;
            height: 145px;
        }
        img {
            @include image;
            @media (max-width: $iphone5) {
               object-fit: contain;
              
            }
        }
    }

    &__cost {
        font-size: 17px;
        line-height: calc(24 / 17 * 100%);
        color: #45455c;
        letter-spacing: 0.157241px;
        @media (max-width: $mobile) {
            font-size: 13px;
        }
        span {
            display: inline-block;
            font-weight: 700;
            color: $red;
            margin-left: 9px;
            @media (max-width: $mobile) {
                margin-left: 7px;
            }
        }
    }
}
